<footer class="footer">
    <div class="footer-container">
        <div class="footer-logo">
            <p>© 2024 UPTC</p>
        </div>
        <div class="footer-button">
            <button id="scroll-to-top" aria-label="Scroll to top">
                <i class="bx bx-up-arrow-alt"></i> Top
            </button>   
        </div>
        <div class="footer-links">
            <ul>
                <li>
                    <a class="footer-menu-item" data-target="applicationsFooterSubmenu">
                        <span class="footer-menu-text {% if current_path.startswith(urls.uptc_claims_all) %}active{% endif %}">Заявки</span>
                    </a>
                    <ul class="footer-submenu" id="applicationsFooterSubmenu">
                        <li><a href="{{ urls.uptc_claims_all }}" class="{% if current_path == urls.uptc_claims_all %}active{% endif %}">Все</a></li>
                        <li><a href="{{ urls.uptc_claims_mosoblenergo }}" class="{% if current_path == urls.uptc_claims_mosoblenergo %}active{% endif %}">Мособлэнерго</a></li>
                        <li><a href="{{ urls.uptc_claims_portal }}" class="{% if current_path == urls.uptc_claims_portal %}active{% endif %}">Портал ТП</a></li>
                        <li><a href="{{ urls.uptc_claims_tatarstan }}" class="{% if current_path == urls.uptc_claims_tatarstan %}active{% endif %}">СК Татарстан</a></li>
                        <li><a href="{{ urls.uptc_claims_oboronenergo }}" class="{% if current_path == urls.uptc_claims_oboronenergo %}active{% endif %}">АО Оборонэнерго</a></li>
                        <li><a href="{{ urls.uptc_claims_rzd }}" class="{% if current_path == urls.uptc_claims_rzd %}active{% endif %}">ОАО РЖД</a></li>
                        <li><a href="{{ urls.uptc_claims_rossetimr }}" class="{% if current_path == urls.uptc_claims_rossetimr %}active{% endif %}">Россети МР</a></li>
                    </ul>
                </li>
                <li>
                    <a class="footer-menu-item" data-target="requestsFooterSubmenu">
                        <span class="footer-menu-text {% if current_path.startswith(urls.uptc_appeals_all) %}active{% endif %}">Обращения</span>
                    </a>
                    <ul class="footer-submenu" id="requestsFooterSubmenu">
                        <li><a href="{{ urls.uptc_appeals_all }}" class="{% if current_path == urls.uptc_appeals_all %}active{% endif %}">Все</a></li>
                        <li><a href="{{ urls.uptc_appeals_portal }}" class="{% if current_path == urls.uptc_appeals_portal %}active{% endif %}">Портал ТП</a></li>
                        <li><a href="{{ urls.uptc_appeals_oboronenergo }}" class="{% if current_path == urls.uptc_appeals_oboronenergo %}active{% endif %}">АО Оборонэнерго</a></li>
                        <li><a href="{{ urls.uptc_appeals_rossetimr }}" class="{% if current_path == urls.uptc_appeals_rossetimr %}active{% endif %}">Россети МР</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</footer>
