<header>
    <div class="header-container">
        <div class="header-side-menu">
            <button class="header-button" id="sidemenuButton">
                <i class='bx bx-menu'></i>
            </button>
            <a class="site" href="{{ urls.home_uptc }}">UPTC</a>
        </div>
        <form action="{{ search_url }}" method="POST" id="searchForm" class="search-form">
            <div class="search-input-container">
                <input type="text" id="SearchField" name="search_query" placeholder="Поиск..." value="{{ search_query | default('') }}" title="Введите номер или адрес заявки/обращения." >
                <button type="submit" class="search-button" title="Поиск">
                    <i class='bx bx-search'></i>
                </button>
            </div>
        </form>
        <div class="user-menu">
            <button class="header-button" id="userButton" title="{{ user.useremail }}">
                <i class='bx bx-user'></i>
            </button>
            <div class="dropdown" id="userDropdownMenu">
                <ul>
                    <li><a id="openModal" class="link" role="button">Профиль</a></li>
                    <li><a href="{{ urls.logout }}">Выход</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
