@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tektur:wght@400..900&display=swap');

:root {
    --transition: 0.5s linear;
    --background: linear-gradient(135deg, rgb(210, 210, 210), rgb(220, 220, 230));

    --light-background-color: rgb(240, 240, 240);
    --light-add-background-color: rgb(210, 210, 210);
    --light-color: rgb(240, 240, 240);
    --light-add-color: rgb(180, 180, 180);
    
    --dark-background-color: black;
    --dark-add-background-color: rgb(50, 50, 50);
    --dark-color: black;
    --dark-add-color: rgb(30, 30, 30);
    
    --light-red-color: rgb(220, 20, 60);
    --light-green-color: rgb(0, 165, 0);
    --light-blue-color: rgb(0, 123, 255);
    --light-yellow-color: rgb(255, 215, 0);
    --light-magenta-color: rgb(155, 0, 155);
    --light-cyan-color: rgb(0, 125, 125);

    --dark-red-color: rgb(220, 20, 60);
    --dark-green-color: rgb(0, 175, 76);
    --dark-blue-color: rgb(0, 86, 179);
    --dark-yellow-color: rgb(255, 215, 0);
    --dark-magenta-color: rgb(120, 0, 120);
    --dark-cyan-color: rgb(0, 100, 100);

    --dark-table-backround-color: rgba(0, 86, 179, 0.6);
    --light-table-backround-color: rgba(0, 123, 255, 0.1);
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

* {
    font-family: "Tektur", sans-serif;
}

body {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background: var(--background);
    color: var(--dark-color);
    transition: 
        background-color var(--transition), 
        color var(--transition);
}

/* WebKit-скроллбары (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: var(--light-background-color);
    border-left: 1px solid var(--light-add-color);
}

::-webkit-scrollbar-thumb {
    background: var(--dark-add-color);
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-color);
}
