header {
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    padding: 10px;
    height: 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid var(--light-add-color);
    z-index: 1;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.search-input-container {
    position: relative;
    flex-grow: 1;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 700px) {
    .search-input-container {
        max-width: 300px;
    }
}

.search-form {
    display: flex;
    align-items: center;
    width: 100%;
}

#SearchField {
    padding: 6px 40px; 
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: var(--dark-color);
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

#SearchField::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

#SearchField:hover {
    background-color: var(--light-background-color);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#SearchField:focus {
    outline: none;
    border: 1px solid var(--light-blue-color);
}

.search-button {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    color: var(--dark-add-color);
    padding: 0;
}

.search-button:hover {
    color: var(--dark-color);
}

.search-button:focus {
    outline: none;
}

.header-side-menu {
    align-items: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-button {
    background: none;
    border: none;
    color: var(--dark-add-color);
    font-size: 24px;
    cursor: pointer;
    padding: 0;
    transition: color var(--transition);
}

.header-button:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: var(--dark-color);
}

.site {
    color: var(--dark-add-color);
    font-weight: 500;
    padding-bottom: 3px;
    text-decoration: none;
    transition: color var(--transition);
}

.site:hover {
    color: var(--dark-color);
}

.site:active,
.header-button:active {
    transform: scale(0.95);
}

.user-menu {
    position: relative;
    margin-left: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--light-add-background-color);
    color: var(--dark-add-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
}

.dropdown ul {
    list-style-type: none;
    padding: 6px 2px;
    margin: 0;
}

.dropdown ul li {
    margin: 2px;
}

.dropdown ul li a {
    text-decoration: none;
    color: var(--dark-add-color);
    padding: 5px;
    display: block;
    border-radius: 5px;
    transition: background-color var(--transition), color var(--transition);
    cursor: pointer;
}

.dropdown ul li a:hover {
    background-color: var(--light-color);
    color: var(--dark-blue-color);
}

.dropdown ul li a:active {
    transform: scale(0.95);
}

.dropdown.show {
    display: block;
}
