.tabs {
    border: 2px solid var(--dark-blue-color);
}

.tab-footer-button  {
    background-color: var(--dark-blue-color);
    border-right: 2px solid var(--dark-blue-color);
}

.tab-footer {
    border-top: 2px solid var(--dark-blue-color);
}

.tab-button.active::after {
    background: var(--dark-blue-color);
}

.tab-footer-button:active {
    color: var(--dark-blue-color);
}