{% extends 'base.html' %}
{% block title %}UPTC - Обращения{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/tabs.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/tabs_appeals.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='css/small_datatables.css') }}">
<style>
    #DataTable_1 thead th:nth-child(3), 
    #DataTable_1 tbody td:nth-child(3),
    #DataTable_1 thead th:nth-child(2), 
    #DataTable_1 tbody td:nth-child(2) {
        width: 33%;
    }
    #DataTable_1 thead th:nth-child(1), 
    #DataTable_1 tbody td:nth-child(1) {
        width: 34%;
    }

    #DataTable_2 thead th:nth-child(5), 
    #DataTable_2 tbody td:nth-child(5),
    #DataTable_2 thead th:nth-child(4), 
    #DataTable_2 tbody td:nth-child(4),
    #DataTable_2 thead th:nth-child(3), 
    #DataTable_2 tbody td:nth-child(3),
    #DataTable_2 thead th:nth-child(2), 
    #DataTable_2 tbody td:nth-child(2),
    #DataTable_2 thead th:nth-child(1), 
    #DataTable_2 tbody td:nth-child(1) {
        width: 20%;
    }

</style>
{% endblock %}

{% block body %}
<section class="container">
    <div class="tabs">
        <div class="tab-nav">
            <button class="tab-button active" onclick="showTab('tab1')">Информация об обращении</button>
            <button class="tab-button" onclick="showTab('tab2')">Статус</button>
            <button class="tab-button" onclick="showTab('tab3')">Заявки</button>
        </div>
        
        <div class="tab-content" id="tab1">
            <h2>Номер {{ table_appeals[0][1] }}</h2>
            <div class="info-item">
                <span class="info-label">Личный кабинет:</span>
                <span class="info-text">
                    {% if table_appeals[0][10] != null_value %}  
                        <a href="{{ table_appeals[0][10] }}" target="_blank">{{ table_appeals[0][5] }}</a>  
                    {% else %}
                        {{ table_appeals[0][5] }}
                    {% endif %}
                </span>
            </div>
            
            <div class="info-item">
                <span class="info-label">Балансодержатель:</span>
                <span class="info-text">{{ table_appeals[0][6] }}</span>
            </div>
            
            <div class="info-item">
                <span class="info-label">Дата обращения:</span>
                <span class="info-text">{{ table_appeals[0][9] }}</span>
            </div>
            
            <div class="info-item">
                <span class="info-label">Адрес объекта:</span>
                <span class="info-text">{{ table_appeals[0][13] }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Сетевая организация:</span>
                <span class="info-text">{{ table_appeals[0][7] }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Филиал:</span>
                <span class="info-text">{{ table_appeals[0][8] }}</span>
            </div>

            <div class="info-item">
                <span class="info-label">Тема:</span>
                <span class="info-text">{{ table_appeals[0][11] }}</span>
            </div>
            
            <div class="info-item">
                <span class="info-label">Текст обращения:</span>
                <span class="info-text">{{ table_appeals[0][12] }}</span>
            </div>
        </div>
        
        <div class="tab-content" id="tab2" style="display: none;">
            <table class="datatable" id="DataTable_1">
                <thead>
                    <tr>
                        <th>Статус</th>
                        <th>Дата статуса</th>
                        <th>Дата обновления</th>
                    </tr>
                </thead>
                <tbody>
                    {% if table_appeals %}
                        {% for row in table_appeals %}
                            <td>{{ row[3] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[4] }}</td>
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
        
        <div class="tab-content" id="tab3" style="display: none;">
            <table class="datatable" id="DataTable_2">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Дата обращения</th>
                        <th>Статус</th>
                        <th>Дата статуса</th>
                        <th>Дата обновления</th>
                    </tr>
                </thead>
                <tbody>
                    {% if table_claims %}
                        {% for row in table_claims %}
                            <tr>
                                <td>
                                    <a href="{{ urls.uptc_claims_all }}/{{ row[0]|urlencode }}">{{ row[1] }}</a>
                                </td>
                                <td>{{ row[9] }}</td>
                                <td>{{ row[3] }}</td>
                                <td>{{ row[2] }}</td>
                                <td>{{ row[4] }}</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        <tr>
                            <td colspan="5" class="empty-table">Ничего не найдено</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
        <div class="tab-footer">
            <a href="{{ urls.uptc_appeals_all }}" class="tab-footer-button">Вернуться к списку обращений</a>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', path='js/cards_switch.js') }}"></script>
{% endblock %}